.reel-page {
	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;

	display: flex;

	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	overflow: hidden;

	background: radial-gradient(rgb(240, 252, 253), rgba(77, 111, 114, 0.568)),
		radial-gradient(rgb(237, 252, 253), rgba(13, 15, 15, 0.568));
}
