$light-radius: 10rem;
$shadow-blur: 5rem;

.light {
	display: flex;
	justify-content: center;
	align-items: center;

	width: $light-radius;
	height: $light-radius;

	border-radius: 50%;

	filter: brightness(0.7);

	transition: 200ms ease-in-out;

	box-shadow: inset 0 3px rgba(5, 10, 36, 0.384),
		inset 0 -3px rgba(255, 255, 255, 0.192),
		0 2px rgba(120, 135, 209, 0.226), 0 -2px rgba(5, 10, 36, 0.384);

	&::before {
		content: '';

		width: $light-radius - 0.5rem;
		height: $light-radius - 0.5rem;

		border-radius: 50%;

		background: linear-gradient(
			rgba(255, 255, 255, 0.363),
			rgba(0, 0, 0, 0.11)
		);

		transform: rotateZ(45deg);

		filter: blur(20px);
	}

	&::after {
		content: '';

		position: absolute;

		width: 100%;
		height: 100%;

		border-radius: 50%;
	}

	&.active {
		filter: brightness(2);
	}

	&.active.red {
		box-shadow: 0 0 $shadow-blur red;
	}

	&.active.yellow {
		box-shadow: 0 0 $shadow-blur yellow;
	}

	&.active.green {
		box-shadow: 0 0 $shadow-blur green;
	}
}
